agents/n8n/conversation/data_engineering_conversation_claude.json
{
  "name": "data-engineering-conversation-claude",
  "nodes": [
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nfrom datetime import datetime\n\n# Define roles and responsibilities for each agent\nagent_roles = {\n    \"data-architect\": \"\"\"As a **Data Architect**, I specialize in:\n- Designing scalable and robust data infrastructure\n- Defining data models, integration patterns, and storage systems\n- Ensuring architectural decisions support performance, cost-efficiency, and compliance\nIf the question involves infrastructure planning or data architecture decisions, I can help. Otherwise, I’ll defer to another expert.\"\"\",\n\n    \"pipeline-engineer\": \"\"\"As a **Pipeline Engineer**, I specialize in:\n- Building scalable, efficient, and fault-tolerant data pipelines (batch & streaming)\n- Orchestrating jobs using tools like Airflow, Dagster, or Prefect\n- Ensuring data delivery with retry logic and checkpointing\nIf it’s about data pipelines or orchestration, I’ve got you. Else, another agent may be more qualified.\"\"\",\n\n    \"data-analyst\": \"\"\"As a **Data Analyst**, I specialize in:\n- Exploring datasets and providing insights using SQL or BI tools\n- Creating dashboards and visual reports\n- Communicating patterns, anomalies, and business insights\nIf it's deep engineering or modeling, I’ll defer to others.\"\"\",\n\n    \"data-scientist\": \"\"\"As a **Data Scientist**, I specialize in:\n- Applying statistical analysis and ML models to solve business problems\n- Feature engineering and model deployment\n- Experimentation and A/B testing\nIf it’s about infrastructure or compliance, other agents are better equipped.\"\"\",\n\n    \"data-governance\": \"\"\"As a **Governance Specialist**, I specialize in:\n- Defining data policies, access controls, and quality frameworks\n- Ensuring regulatory compliance (e.g., GDPR, HIPAA)\n- Monitoring data lineage and audit trails\nIf it’s modeling or infra-specific, I may defer to other agents.\"\"\",\n\n    \"data-engineer\": \"\"\"As a **Data Engineer**, I specialize in:\n- Building and maintaining data ingestion frameworks\n- Working with tools like Spark, Flink, Kafka, and modern lakehouses\n- Ensuring reliable ETL/ELT flows\nIf it’s about statistical modeling or governance, another agent might help better.\"\"\"\n}\n\n# Process each input item\nresults = []\n\nfor item in _input.all():\n    selected_ids = item.json.get(\"body\", {}).get(\"selectedAgentIds\", [])\n    query = item.json.get(\"body\", {}).get(\"query\", \"\")\n\n    role_descriptions = \"\\n\\n\".join([agent_roles.get(aid, f\"Unknown agent: {aid}\") for aid in selected_ids])\n\n    prompt = f\"\"\"You are a multi-agent data engineering system that simulates multiple expert agents collaborating together. Based on the selected agents, you'll provide comprehensive solutions that blend expertise from all selected specialists.\n\nCurrently, you are acting as these experts:\n{role_descriptions}\n\nFor your response:\n1. Structure your answer to clearly show which expert is providing which part of the solution\n2. Include practical implementation details and examples where appropriate\n3. Address scalability, reliability, and performance considerations\n4. If relevant, include sample architecture diagrams described in text format\n5. Provide configurations or flow diagram when they would be helpful\n6. DO NOT Provide Code Snippets, unless explicitly asked for but Focus more on Content\n\nRemember: Focus on providing actionable advice that directly addresses the query without any unnecessary introductions.\n\nUser Query: {query}\n\"\"\"\n\n    item.json[\"prompt\"] = prompt\n    results.append(item)\n\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        660
      ],
      "id": "1a6c22c1-723d-4f19-ac92-abcb8f717ad1",
      "name": "Process Agent Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Process Agent Request').item.json.prompt }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "** Please generate your response strictly in valid JSON format with exactly two keys: \"agentResponses\" and \"summary\". The \"agentResponses\" key should map to an array of objects. Each object must include exactly three keys: \"agentId\" (a string), \"agentName\" (a string), and \"content\" (a string containing the detailed response). The \"summary\" key should map to a string that briefly integrates all the perspectives from the \"agentResponses\". Do not include any additional text, explanations, or markdown formatting. Your entire output should be valid JSON that can be parsed directly by Python's json module.**|**DO NOT Provide think tag as output**"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        760,
        260
      ],
      "id": "b41a1c63-8747-4caa-a3bd-e2801f7a2aec",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        580
      ],
      "id": "3ded8e28-f7f7-42ea-990c-70c29a692b39",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "context",
        "options": {}
      },
      "id": "de9dd8c3-8366-4a33-bc17-92682ec2f84e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        440,
        180
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Get Context",
        "height": 237,
        "width": 575,
        "color": 7
      },
      "id": "3e2aea22-7441-4553-a48f-8f223d3b119b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2790a9b-c5d3-4e88-bc38-9b841b6783ea",
      "name": "Chat Memory Manager",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "position": [
        60,
        180
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "data_agent_conversation_X112n997y"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        900
      ],
      "id": "ac9c603b-2b36-4bd6-8d9c-a299c268b5e1",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "public": true,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        120
      ],
      "id": "f5d15255-3e32-41f9-82e5-2b74ee239283",
      "name": "Chat Trigger",
      "webhookId": "b2f479b7-83af-4ddf-a494-621127b5f96c"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Basic LLM Chain').item.json.output }}"
            }
          ]
        }
      },
      "id": "f4225f83-8aca-4a31-aa4b-3b755d71eef5",
      "name": "Insert Chat",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "position": [
        1620,
        260
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Save Context",
        "height": 231.05945912581728,
        "width": 321.2536584847704,
        "color": 6
      },
      "id": "2509050d-12b8-40ea-80dc-3706a770f620",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1580,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### The \"Get Chat,\" \"Insert Chat,\" and \"Window Buffer Memory\" nodes will help the LLM model maintain context throughout the conversation.",
        "height": 91.01435855269375,
        "width": 487.4293487597613,
        "color": 6
      },
      "id": "cc9552bc-f9b3-4bd7-8ee4-e6b6d7629903",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        820,
        920
      ],
      "id": "eb8c52c3-dde5-4fdc-b39c-394c9cd06ffb",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "yqHKHtSCKobGBVWG",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "data-engineering-agent-claude",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "9c806cb8-fe3b-4169-aeb3-20abc473d9c7",
      "name": "ClaudeWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -900,
        740
      ],
      "webhookId": "87f6c8c3-55de-4661-8fd9-2727490b076f"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1020,
        620
      ],
      "id": "b0d82ba5-2598-48de-a8a1-8e651757b2a1",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"agents\": [\n    {\n      \"agentId\": \"\",\n      \"agentName\": \"\",\n      \"content\": \"\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1360,
        940
      ],
      "id": "8fb0d174-6557-4037-9b1a-0ae02da6a687",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Haiku"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1040,
        920
      ],
      "id": "87c92091-3768-4cf4-8078-feaa06b32629",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "yqHKHtSCKobGBVWG",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -680,
        840
      ],
      "id": "53c116cd-24c2-4d1d-ad05-97d8c826493d",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "ClaudeWebhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "186"
          },
          "params": {},
          "query": {},
          "body": {
            "selectedAgentIds": [
              "data-architect",
              "data-engineer"
            ],
            "selectedStrategy": "collaborative",
            "query": "How to design a scalable data pipeline for real-time analytics?"
          },
          "webhookUrl": "http://localhost:5678/webhook/data-engineering-agent",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Process Agent Request": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Insert Chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ClaudeWebhook": {
      "main": [
        [
          {
            "node": "Process Agent Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "500bdc6b-faa0-45aa-a59e-0b5704ae8f40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ed7c8c790e9be279bae1f055fa2b85bec988e25017a26c1b6cc75cae7133994"
  },
  "id": "FnPLkVgSl39pwqes",
  "tags": [
    {
      "createdAt": "2025-03-25T08:55:36.317Z",
      "updatedAt": "2025-03-25T08:55:36.317Z",
      "id": "ezsZgZvLWuGEBeFG",
      "name": "claude"
    },
    {
      "createdAt": "2025-03-23T09:50:13.877Z",
      "updatedAt": "2025-03-23T09:50:13.877Z",
      "id": "uSwVXc72coleYI9d",
      "name": "dataengg"
    }
  ]
}